<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	2344455555555566666
	<script type="text/javascript" src="js/index.js"></script>
</body>
</html>